#stabilize.tool
  .tool-title Stabilizer
  .info With this function you can convert the points tracked with kdenlive functions Motion-tracker or Auto-mask and generate the inverted movement, this way you can use the new points to stabilize the tracked point instead of following it. Yeah... I need to explain this another way...
  .info Better than that, check out this #[a(href="https://ferrolho.github.io/blog/2020-08-09/stabilizing-a-video-subject-in-kdenlive" target="_blank") Ferrolho's blog] entry and notice how this function was 97.12% inspired by his work. While in there also notice how less lazy he is at explaining how to use the function. Amazing!!
  .group
    .mb10
      | Destination
      .ml10
        input#stabilizeKeep(type="radio" name="location" value="keep" checked)
        label(for="stabilizeKeep") Keep fixed to position at frame 1
      .ml10
        input#stabilizeMove(type="radio" name="location" value="move")
        label(for="stabilizeMove") Move tracked center point to coordinate
        span.name.ml10 X
        input.w60#stabilizeX(value="0")
        span.name.ml10 Y
        input.w60#stabilizeY(value="0")

    .flex.mb10
      textarea#stabilizePoints(rows="3" placeholder="Paste original points here...")
      textarea#stabilizePointsOut(readonly rows="3" placeholder="Output")

    div
      button(onclick="stabilizeRun()") Process
      span.ml10
        input#stabilizeCopy(type="checkbox" checked)
        label(for="stabilizeCopy") Copy result to clipboard
