
#stopwatch.tool
  .tool-title Stopwatches
  .info Kdenlive can use MLT generators to create up counting clocks. But they have seconds resolution only. This is not a tool but a collection of some precisely generated videos for specific framerate that count with milliseconds resolution. They are black background with white digits so is easy to set as needed over your video.
  .group
    .mb10
      table
        tr
          th FPS
          th Font
          th Length
          th Sample
          th Video
        tr
          td 29.97
          td Ubuntu Mono
          td 20 secs
          td
          td: a(href="stopwatch-29_97fps-20secs-ubuntu_mono.mp4") stopwatch-29_97fps-20secs-ubuntu_mono.mp4
        tr
          td 30
          td Ubuntu Mono
          td 1 minute
          td
          td: a(href="stopwatch-30fps-60secs-ubuntu_mono.mp4") stopwatch-30fps-60secs-ubuntu_mono.mp4

  .info check #[a(href="") this] repository to check how they were created. I'll tell in advance that this was stupid. But works.
